@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor:
    url('/assets/cursor/cursor-red.png') 0 0,
    auto !important;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  cursor:
    url('/assets/cursor/text.png') 0 0,
    text !important;
}

button,
a {
  cursor:
    url('/assets/cursor/pointer.png') 0 0,
    pointer !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
