@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor:
    url('/assets/cursor/cursor-red.png') 0 0,
    auto !important;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea[type='text'] {
  cursor:
    url('/assets/cursor/text.png') 0 0,
    text !important;
}

button,
a {
  cursor:
    url('/assets/cursor/pointer.png') 0 0,
    pointer !important;
}
